__pycache__/
*.pyc
*.pyo
*.tar.gz

build/
gui-builds/
output/
outputs/
work/
workspace/

_prepared/
_builds/
_mappings/
slot-assets/

*.cur
*.ani
*.ico
*.xcursor

*.png
*.json
!README.md
!tools/*.json
